/* Home*/
#home{
    background: rgb(0, 219, 44);
    background: linear-gradient(90deg, rgb(0, 219, 44) 50%,  
    rgb(0, 255, 183) 100%);
    min-height: 500px;
}

/* Cards */
.card{
    transition: all 0.5s ease;
}
.card:hover{
    cursor: pointer;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15)
}

/* Form */
.form{
    background: rgb(0, 219, 44);
    background: linear-gradient(90deg, rgb(47, 219, 0) 30%,  
    rgb(0, 255, 162) 100%);
}

/* Footer */

.footer{
    background: rgb(0, 219, 44);
    background: linear-gradient(90deg, rgb(44, 219, 0) 60%,  
    rgb(0, 255, 157) 100%);
}


.col-md-3{
    margin-left: 3rem;
}

.col-md-8{
    margin-right: 7rem;
}